/*
* PrimartColor1 : #83a920 green;
* PrimartColor2 : #4a6600 dark green;
* PrimartColor3 : #464646 dark grey;
* Menu/BottomGradients : background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
                         background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
                         background: -moz-linear-gradient(#cdcdcd 3%, #fff);
                         background: -o-linear-gradient(#cdcdcd 3%, #fff);
                         background: linear-gradient(#cdcdcd 3%, #fff);
* Bottom Hover  : #cecece light Grey ;
*
*/

.testborder {
    border: 1px dotted red;
}

.green {
    background: #83a920;
}

.textgreen {
    color: #83a920 !important;
}

.darkgreen-color {
    color: #4a6600;
}

.darkgreen {
    background: #83a920;
}

.darkgrey {
    background: #464646;
}

.btn-gradient {
    background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
    background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
    background: -moz-linear-gradient(#cdcdcd 3%, #fff);
    background: -o-linear-gradient(#cdcdcd 3%, #fff);
    background: linear-gradient(#cdcdcd 3%, #fff);
}

.btn-hover {
    background: #cecece;
}

body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #ffffff !important;
}

p {
    font-size: 0.85em;
}

h3 {
    color: #b1131f;
    font-size: 30px;
}

.topbar-full-container .topbar-container {
    /*  min-height: 58px;
    padding: 8px 0 8px 0;
*/
}

.topbar-full-container .topbar-container .topbar-links-container .topbar-links {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.81em;
    color: #808080!important;
    font-weight: 200;
}

.main-nav-container {
    height: 80px;
    z-index:
}

.navbar-inner-container {
    /* padding-top: 13px;*/
}

.navbar-default {
    background: #83a920 !important;
}

.nav_logo {
    position: absolute;
    top: -30px;
    left: 0;
}

.navbar-nav>li>a {
    padding: 20px 10px;
}

.navbar-nav li a {
    font-size: 0.8em;
    height: 80px;
    line-height: 50px;
    text-transform: uppercase;
}

.navbar-nav li:hover {
    background: #4a6600;
}

.main-contents-container {
    margin-top: 50px;
}

.side-nav-group {
    margin-bottom: 10px;
}

.main-contents-container .main-contents-inner-container .side-nav-container a {
    display: block;
    height: 50px;
}

.main-contents-container .main-contents-inner-container .side-nav-container .room {
    background-image: url('../img/sidebar-header-bg.png');
    background-repeat: no-repeat;
}

.main-contents-container .main-contents-inner-container .side-nav-container .family {
    /*  background-image: url('../img/sidebar-header-bg2.png'); 
    background-repeat: no-repeat; */
    background: #83a921;
    text-transform: uppercase;
    font-size: 21px;
}

.family-icon {
    display: inline-block;
    margin: 0px 0px -30px 7px;
    bottom: 5px;
    position: relative;
}

.main-contents-container .main-contents-inner-container .side-nav-container .sidebar-links {
    /* background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
    background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
    background: -moz-linear-gradient(#cdcdcd 3%, #fff);
    background: -o-linear-gradient(#cdcdcd 3%, #fff);
    background: linear-gradient(#cdcdcd 3%, #fff); */
    color: #454545 !important;
    text-align: left;
    padding-left: 16px;
    line-height: 50px;
    background: #efefef;
    border-bottom: 1px solid #d9d9d9;
}

.main-contents-container .main-contents-inner-container .side-nav-container .sidebar-links:hover {
    background: #4a6600;
    color: #fff !important;
    text-transform: uppercase;
}

.btn {
    border-radius: 0px;
}

form input[type=text],
.form-control,
.select2-search input[type=text] {
    height: 41px;
    border-radius: 0px;
    border: none;
    background: #b6b6b6;
}

.btn-default {
    background: #4a6600;
}

.btn-default:hover {
    background: #83a920;
}

.content-pic {
    border: 2px solid #4a6600;
}

.pic-btn {
    display: block;
    width: 90%;
    margin: 10px auto;
}

.footer-wrapper {
    background-image: url(http://preview.miamiwebservice.com/l3temp/wp-content/uploads/2016/03/l3-prefooter-bg.jpg);
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px 0 20px 0;*/
}

.footer {
    height: 270px;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

.footer-link-container h4 {
    color: #fff;
}

.footer-link-container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-link-container ul li a {
    color: #83a920 !important;
}


/*---------------------- kitchen ----------------------*/

.panel-success .panel-heading {
    background: #83a920;
    color: #464646;
    text-transform: uppercase;
}

.content-pic {
    display: block;
    margin: 0px auto;
}

.kitchen-form h4 {
    color: #4a6600;
}


/*--------------------------------- Room -------------------------------------*/

.room-panel-body {
    background: #f2f0f1;
}

.section-container {
    margin-bottom: 20px;
}

.section-form-container {
    margin-top: 33px;
}


/*-------------------------FloorPlan Test ------------------------------------*/