/*
* PrimartColor1 : #83a920 green;
* PrimartColor2 : #4a6600 dark green;
* PrimartColor3 : #464646 dark grey;
* Menu/BottomGradients : background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
                         background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
                         background: -moz-linear-gradient(#cdcdcd 3%, #fff);
                         background: -o-linear-gradient(#cdcdcd 3%, #fff);
                         background: linear-gradient(#cdcdcd 3%, #fff);
* Bottom Hover  : #cecece light Grey ;
*
*/

.testborder {
    border: 1px dotted red;
}

.green {
    background: #83a920;
}
.textgreen{
    color: #83a920 !important;
}

.darkgreen {
    background: #83a920;
}

.darkgrey {
    background: #464646;
}

.btn-gradient {
    background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
    background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
    background: -moz-linear-gradient(#cdcdcd 3%, #fff);
    background: -o-linear-gradient(#cdcdcd 3%, #fff);
    background: linear-gradient(#cdcdcd 3%, #fff);
}

.btn-hover {
    background: #cecece;
}

body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #ffffff !important;
}

p {
    font-size: 0.85em;
}

h3 {
    color: #b1131f;
    font-size: 30px;
}

.topbar-full-container .topbar-container {
    min-height: 58px;
    padding: 8px 0 8px 0;
}

.topbar-full-container .topbar-container .topbar-links-container .topbar-links {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85em;
}

.main-nav-container {
    height: 80px;
    z-index: 
}

.navbar-inner-container {
    /* padding-top: 13px;*/
}

.navbar-default {
    background: #83a920 !important;
}

.nav_logo {
    position: absolute;
    top: -30px;
    left: 0;
}

.navbar-nav>li>a {
    padding: 20px 10px;
}

.navbar-nav li a {
    font-size: 0.8em;
    height: 80px;
    line-height: 50px;
    text-transform: uppercase;
}

.navbar-nav li:hover {
    background: #4a6600;
}

.main-contents-container {
    margin-top: 50px;
}
.side-nav-group{
    margin-bottom: 10px;
}
.main-contents-container .main-contents-inner-container .side-nav-container a {
    display: block;
    height: 50px;
}

.main-contents-container .main-contents-inner-container .side-nav-container .room {
    background-image: url('../img/sidebar-header-bg.png');
    background-repeat: no-repeat;
}
.main-contents-container .main-contents-inner-container .side-nav-container .family {
    background-image: url('../img/sidebar-header-bg2.png');
    background-repeat: no-repeat;
}

.main-contents-container .main-contents-inner-container .side-nav-container .sidebar-links {
    background: -webkit-gradient(linear, 0 0, 0 99, color-stop(0.03, #cdcdcd), to(#fff));
    background: -webkit-linear-gradient(#cdcdcd 3%, #fff);
    background: -moz-linear-gradient(#cdcdcd 3%, #fff);
    background: -o-linear-gradient(#cdcdcd 3%, #fff);
    background: linear-gradient(#cdcdcd 3%, #fff);
    color: #454545 !important;
    text-transform: uppercase;
    text-align: left;
    padding-left: 16px;
    line-height: 50px;
}
.main-contents-container .main-contents-inner-container .side-nav-container .sidebar-links:hover {
    background: #4a6600;
    color: #fff !important;
    text-transform: uppercase;
}
.btn{
    border-radius: 0px;
}
form input[type=text],.form-control, .select2-search input[type=text]{
    border-radius: 0px;
    border: none;
    background: #b6b6b6;
}
.btn-default{
    background: #4a6600;
}
.btn-default:hover{
    background: #83a920;
}
.content-pic{
    border: 2px solid #4a6600; 
}
.pic-btn{
    display: block;
    width: 90%;
    margin:10px auto;
}


.footer-wrapper{
    background-image: url(http://preview.miamiwebservice.com/l3temp/wp-content/uploads/2016/03/l3-prefooter-bg.jpg);
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
   /* padding: 20px 0 20px 0;*/
}
.footer{
    height: 270px;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

.footer-link-container h4{
    color: #fff;
}
.footer-link-container ul{
    list-style: none;
    margin: 0px; padding: 0px;
}
.footer-link-container ul li a{
    color: #83a920 !important;
}


/*---------------------- kitchen ----------------------*/

.panel-success .panel-heading{
    background: #83a920;
    color: #464646;
    text-transform: uppercase;
}
.content-pic{
    display: block;
    margin: 0px auto;
}
.kitchen-form h4{
    color: #4a6600;
}


/*.navbar-default {
    background: #83a920 !important;
}

.navbar-header {
    min-height: 80px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000 !important;
}

.navbar-default .navbar-toggle:hover:before,
.navbar-default .navbar-toggle:focus:before {
    color: #b31925 !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #b31925 !important;
    border-width: 2px;
}

.feature-grid img {
    margin: 100px auto;
}

.single-grid {
    width: 45%;
    min-height: 300px;
    background: #f8f4f3;
    margin-bottom: 40px;
    box-shadow: 1px 2px 5px #eaeaea;
    margin-left: 46px;
    float: left;
}

.single-grid img {
    display: block;
    margin: 0px auto;
    padding: 20px 0 0px 0;
}

.single-grid p {
    padding: 30px;
    line-height: 2em;
}

.footer {
    padding: 40px 0;
    background: #f8f4f3;
}

.about-title {
    padding: 30px 0 52px 0;
    border-bottom: 1px solid #c2c1c1;
}

.about-feature-img-row {
    width: 100%;
    height: 538px;
    background: url(../img/about-feature-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.social-row {
    padding-top: 80px;
    padding-bottom: 80px;
}

.social-container {
    padding-bottom: 80px;
    border-bottom: 1px solid #c2c1c1;
}

.fb-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/icons/png/social_btn.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.insta-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/icons/png/social_btn.png);
    background-repeat: no-repeat;
    background-position: -60px 2px;
}

.gplus-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/icons/png/social_btn.png);
    background-repeat: no-repeat;
    background-position: -126px 2px;
}

.lind-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/icons/png/social_btn.png);
    background-repeat: no-repeat;
    background-position: -187px 2px;
}

.form-control,
.select2-search input[type=text] {
    border: 2px solid #d2c6ac;
}

.btn-default {
    background: #343434;
}

.btn-default:hover {
    background: #b31925;
}*/
